body{
    background-attachment: fixed;
    /*background-image: url(../assets/bg.png);*/
    overflow-y: scroll;
    background-size: cover;
    background-position: center;
}

.backdrop{
    backdrop-filter: blur(10px) brightness(0.9);
}

table{
    background: rgba(255, 255, 255, 0.73);
}

.block{
    background: rgba(255, 255, 255, 0.73);
}

.value{
    text-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.value-l{
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.3);
}

.nav-link.active{
    color: black!important;
}

.text-rang-1{
    color: #259925;
}

.text-rang-2{
    color: #009999;
}

.text-rang-3{
    color: #0070C0;
}

.text-rang-4{
    color: #CC00FF;
}

.text-rang-5{
    color: #d38f14;
}

.text-rang-6{
    color: #FF6600;
}

.text-rang-7{
    color: #db0011;
}